/* ---- Survey Name ---- */
@import "@resources";

.title {
  @include font-size(91px);
  display: block;
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;

  @include mq($phone) {
    margin: 100px auto 50px;
  }
}

.nameInput {
  display: block;
  margin: 0 auto;

  @include mq($phone) {
    width: 100%;
  }
}

.submitButton {
  display: block;
  margin: 50px auto 0;
  text-transform: uppercase;
  max-width: 200px;

  @include mq($phone) {
    max-width: 100%;
  }
}
