/* ---- Planet ---- */
@import "@resources";

.wrapper {
  margin-top: 50px;

  @include mq($tablet) {
    margin-top: 0;
  }
}

.image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: block;
  width: 840px;
  height: 840px;
  z-index: -1;
  opacity: 0.3;

  @include mq(900) {
    width: 100%;
    top: 200px;
  }
}

.title {
  @include font-size(114px);
  @include flexible();
  column-gap: 20px;
  text-transform: uppercase;
  color: $theme-color;
  text-shadow: 0px 0px 10px $theme-color;

  & span {
    @include font-size(50px);
    color: #fff;
  }

  @include mq($phablet) {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
}

.subtitle {
  @include font-size(28px);
  color: $theme-color;
  font-weight: 600;
}

.row {
  // @include flexible();
  // column-gap: 50px;
  // margin-top: 10px;

  // @include mq(860) {
  //   flex-direction: column;
  //   align-items: flex-start;
  //   row-gap: 20px;
  //   column-gap: 0;
  // }

  // @include mq($phablet) {
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;
  // }

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 10px;

  @include mq($laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq($phablet) {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.discovery {
  @include font-size(20px);
  margin-top: 20px;

  & b {
    font-weight: 600;
    color: $theme-color;
  }

  & br {
    display: none;
  }

  & span {
    color: rgba(255, 255, 255, 0.7);
  }

  @include mq($phablet) {
    display: block;
    text-align: center;

    & br {
      display: block;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.time,
.date {
  @include font-size(38px);
  font-weight: 600;
}

.description {
  @include font-size(20px);
  margin-top: 20px;

  @include mq($phablet) {
    text-align: center;
    display: block;
  }
}

.button {
  margin-top: 30px;

  @include mq($phablet) {
    margin: 30px auto 0;
  }
}
